@font-face {
  font-family: mojafont;
  src: url("../css/fonts/GOTHIC.TTF"), url("../css/fonts/GOTHIC.TTF");
  /* IE9+ */
  /* dla wordpresa: url('css/GOTHIC.TTF'),  */
}

@font-face {
  font-family: 'NimbusSanNov-Lig';
  src: url(../css/fonts/aaa.eot);
  src: url(../css/fonts/iefix.eot?#iefix) format("embedded-opentype"), url(../css/fonts/ccc.woff) format("woff"), url(../css/fonts/bbb.ttf) format("svg");
}

body {
  font-size: 20px;
  font-family: 'NimbusSanNov-Lig';
}

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

#no_stations {
  display: none;
}

#alert_no_stations {
  display: none;
}

.clear {
  clear: both;
}

.panel {
  background: #FDFEFE;
}

h1 {
  font-family: 'NimbusSanNov-Lig';
}
h1 small {
  color: green;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.btn-group {
  padding-left: 0px;
}

header {
  padding-top: 0px;
  text-align: center;
}
header h1 small {
  color: #000;
}

footer {
  background-color: #333;
  min-height: 60px;
  margin-top: 50px;
}


iframe{
  width:100%;
  border: none;
}



@media all and (max-width: 699px) {
  body {
    background-color: #fff;
    font-family: 'NimbusSanNov-Lig';
  }

  header {
    padding-top: 0px;
  }
  header h1 {
    font-size: 30px;
    line-height: 30px;
  }
  header h1 small {
    font-size: 16px;
    color: #000;
  }

  h1 {
    font-size: 30px;
  }
  h1 small {
    font-size: 14px;
    color: green;
  }

  .aquiring {
    text-align: center;
  }

  .btn-lg {
    font-size: 15px;
    width: 100%;
  }

  #new_station {
    margin-top: 10px;
  }

  .btn-group {
    padding-left: 20px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 17px;
  }
}
