@font-face {
  font-family: mojafont;
  src: url("../css/fonts/GOTHIC.TTF"), url("../css/fonts/GOTHIC.TTF");
  /* IE9+ */
  /* dla wordpresa: url('css/GOTHIC.TTF'),  */
}

@font-face {
  font-family: 'NimbusSanNov-Lig';
  src: url(../css/fonts/aaa.eot);
  src: url(../css/fonts/iefix.eot?#iefix) format("embedded-opentype"), url(../css/fonts/ccc.woff) format("woff"), url(../css/fonts/bbb.ttf) format("svg");
}

body {
  font-size: 20px;
  font-family: 'NimbusSanNov-Lig';
}

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

#no_stations {
  display: none;
}

#alert_no_stations {
  display: none;
}

.clear {
  clear: both;
}

.panel {
  background: #FDFEFE;
}

h1 {
  font-family: 'NimbusSanNov-Lig';
}
h1 small {
  color: green;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.btn-group {
  padding-left: 0px;
}

.aquiring{
  text-align: center;
  padding-top:50px;
}

header {
  padding-top: 0px;
  text-align: center;
}
header h1 small {
  color: #000;
}

#footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width:100%;
  background-color: green;
  height: 45px;
  color: #fff;
  font-size: 17px;
}





#button-exit{
  background: none;
  border: none;
  padding:10px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: green;
}

#button-exit:hover{
  background: #006600;
}

#reload-geo{
   background: none;
  border: none;
  position: fixed;
    padding:10px;
  bottom: 0px;
  left: 0px;
  background: green;
}
#reload-geo:hover{
  background: #006600;
}

iframe{
  width:100%;
  border: none;
  padding:0px;
  margin:0px;
}




